extends layout

block content

    h1 Checked Out Books

    p
      a.button(href='new_loan') Create New Loan

    include includes/filters.jade

    table
      thead
        tr
          th Book

          th Patron

          th Loaned on

          th Return by

          th Returned on

          th Action

      tbody
      each loan in loans
        tr
          td
            a(href='book_detail') #{loan.Book.title}

          td
            a(href='patron_detail') #{loan.Patron.first_name} #{loan.Patron.last_name}

          td #{loan.loaned_on}

          td #{loan.return_by}

          td #{loan.returned_on}

          td
            if(loan.returned_on === null)
              a.button(href='return_book/#{loan.Book.id}') Return Book
